@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #bbc6fa;
}
.quote{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 600px;   
    border-radius: 10px;
    padding: 40px;
    background-color: white;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.15);
    text-align: center;
}
.quote button{
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 25px;
    border: 1px solid rgb(23, 124, 229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}
.quote h1{
    text-align: center;
    position: relative;
    margin-bottom: 32px;

}
.quote h1::after{
    content: "";
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(23, 124, 229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
blockquote{
    font-family: "Playwrite CU", cursive;
     font-size: 26px;
     min-height: 110px;
}
blockquote::before,blockquote::after{
    content: '"';
}
span{
    font-family: "Playwrite CU", cursive;
    position: relative;
    display: block;
    margin-top: 10px;
    float: right;
}

span::before{
    content: "";
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background-color: rgb(23, 124, 229);
    position: absolute;
    left: -50%;
    top: 50%;
}
.quote div{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
img{
    width: 20px;
    margin-right: 10px;
}
.quote button:nth-child(2){
    background: transparent;
    color: #333;
}